/**************************
*   Case Study Overview   *
**************************/

.projectInformation {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.projectHeader {
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear:both;
  display: table;
}

.deliverables,
.descriptors {
  padding: 15px;
}

.subSectionHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.deliverables li,
.descriptors li {
  margin-left: 1em;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {

  .deliverables {
    float: left;
    width: 50%;
  }

  .descriptors {
    float: right;
    width: 50%;
  }
}