/**************
*   General   *
**************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

*  {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff66c4;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: #ff66c4;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: #ff66c4;
}

p {
  padding: 8px;
}

hr {
  border-top: 3px solid #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/**************
*   Hero   *
**************/

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/home/mainHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(80%);
}
.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  margin-top: 0;
  font-size: 17vw;
  opacity: 0.8;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

/*****************
*   Navigation   *
*****************/

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  width: 100px;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 350px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  height: 110vh;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.nav-links
{
  margin-left: 15px;
  padding: 10px 0;
  font-size: 22px;
}

.nav-links a {
  color: #000;
}

.nav-links a:hover {
  color: #ff66c4;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle
  {
    top: 25px;
    right: 25px;
  }

  .logo {
    width: 65px;
  }
}

/****************
*   Home Page   *
****************/

.about,
.resume {
  max-width: 1200px;
  width: 95%;
  margin: 20px auto;
}

.profile-pic,
.resume-img {
  width: 100%;
}

/***************
*   Projects   *
***************/

.project-information {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.project-header {
  margin-bottom: 10px;
}

.main-img {
  width: 100%;
}

.headerImage {
  max-height: 100vh;
  overflow: hidden;
}

.port-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  box-shadow: 3px 3px #ff66c4;
}

.port-images:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
}

.port-image-container {
  margin-top: 20px;
}

.deliverables li,
.descriptors li {
  margin-left: 1em;
  padding-bottom: 5px;
}

.gallery {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 15px;
}

.project-gallery {
  margin-top: 50px;
}

.deliverables,
.descriptors {
  padding: 15px;
}

.project-gallery {
  text-align: center;
}

.project-gallery h1 {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear:both;
  display: table;
}

/************
*   Footer  *
*************/
footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff66c4;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  color: #fff;
}

.brand-icons {
  margin: auto 0;
  z-index: 100;
  cursor: pointer;
  font-size: 24px;
}

.brand-icons a {
  color: #fff;
}

.brand-icons i {
  margin-left: 15px;
}

.sub-footer {
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
}

/********************
*   Media Queries   *
********************/

@media screen and (min-width: 768px) {
  hr {
    border-top: 8px solid #fff;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .navbar.scrolled .nav-links {
    color: #000;
  }

  .main-nav {
    display: flex;
    max-height: 1000px;
    background-color: transparent;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .dropdown-content {
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .graphic-drop {
    right: 390px;
  }

  .motion-drop {
    right: 180px;
  }

  .dropdown-content li {
    padding: 5px;
    margin: 5px;
  }

  .deliverables {
    float: left;
    width: 50%;
  }

  .descriptors {
    float: right;
    width: 50%;
  }

  .about {
    display: flex;
  }

  .profile {
    margin-right: 20px;
  }

  .resume {
    text-align: center;
  }

  .resume-img {
    max-width: 500px;
  }
}